<!--
    <a ui-sref-active="active" ui-sref="home" class="middle">
    <h1 class="title">Best Before Dates</h1>
    <h2 class="h2">Get alerts before your food expires!</h2>
  </a> -->
    <div class="signup-form" ng-show="true" id="signup">
<!-- <p style="color:red">{{ users.signuperror }}</p> -->
    <form ng-submit="railsAPI.signup(newUser)" method="post" ng-if="!users.currentUser">
    <p><strong>Sign up</strong></p>
    <input type="text" ng-model="newUser.username" placeholder="username"><br>
    <input type="password" ng-model="newUser.password" placeholder="password"><br>
    <input type="text" ng-model="users.signupemail" placeholder="email"><br>
    <input type="text" ng-model="users.signuphousehold" placeholder="household"><br>
    <input type="submit" name="test" value="Sign up"><br>
  </form>
</div>
