<div class="x-entry">
  <form ng-submit="api.signup(account)">
    <div>
      <label for="username">username</label>
      <input type="text" ng-model="account.username" required>
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" ng-model="account.password" required>
    </div>
    <div>
      <label for="email">email</label>
      <input type="text" ng-model="account.email" required>
    </div>
    <div>
      <label for="Household">Household</label>
      <input type="text" ng-model="account.household" required>
    </div>
    <button class="btn btn-add" type="submit">signup</button>
  </form>
</div>
